<!-- food-guide -->
<div id="food-guide" class="main-container">
  <h1 class="main-title"><%= "Don't have an expiry date on your food? You've come to the right place" %></h1>
</div>
<!-- end food-guide -->
