<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Food Tracker</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>

<header>
   <h1>Don't let your Food go Bad on you!</h1>
   <nav>
      <div class="menu-left">
         <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/food">Food</a>
               <ul>
                  <li><a href="/food/fridge">Fridge</a></li>
                  <li><a href="/food/freezer">Freezer</a></li>
                  <li><a href="/food/pantry">Pantry</a></li>
               </ul>
            </li>
            <li><a href="/guide">Guide</a></li>
         </ul>
      </div>

      <div class="menu-right">
         <% if logged_in? %>
            Logged in as <%= current_user.username %>
            <form action="/session" method="post">
               <input type="hidden" name="_method" value="delete">
               <button type="submit">Logout</button>
            </form>
         <% else %>
            <a href="/login">Login</a>
         <% end %>
      </div>
   </nav>
</header>

   <body>

   <%= yield %>
<!-- 
   <script src="//code.jquery.com/jquery-1.10.2.js"></script>
   <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   <script>
      $(function(){
         // Find any date inputs and override their functionality
         $('input[type="date"]').datepicker();
      });
   </script> -->
   </body>

<footer>
   <span>&copy; 2017 Jon Kang</span>
</footer>
