<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Food Tracker</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
</head>

<header>
  <h1 class="site-title">Don't let your food go bad on you!</h1>
  <nav id="nav">
    <div class="menu-left">
      <ul class="main-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>

        <% if logged_in? %>
          <li><a href="/food">Food</a></li>
          <li><a href="/food/fridge">Fridge</a></li>
          <li><a href="/food/freezer">Freezer</a></li>
          <li><a href="/food/pantry">Pantry</a></li>
        <% end %>

        <li><a href="/guide">Guide</a></li>
      </ul>
    </div>

    <div class="menu-right">
      <% if logged_in? %>
      <div class="logged-in">
        <span>Logged in as: </span><a href="/my_account"><%= current_user.name %></a>
      </div>
        <form class="logout-button" action="/session" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Logout</button>
        </form>
      <% else %>
        <a href="/login">Login</a>
      <% end %>
    </div>
  </nav>
</header>

  <body>
    <%= yield %>
  </body>

<footer>
  <span>&copy; 2017 Jon Kang</span>
</footer>
</html>
