<!-- login-register -->
<div id="login-register" class="main-container">
  <div class="create-user-container">
    <h1 class="main-title">Register</h1>
    <form action="/create_user" method="post" class="create-user-form">
      <div class="form-group">
        <label for="">Name</label>
        <input type="text" name="name" required>
      </div>

      <div class="form-group">
        <label for="">Email</label>
        <input type="text" name="email" required>
      </div>

      <div class="form-group">
        <label for="">Password</label>
        <input type="password" name="password" required>
      </div>

      <button type="submit">Register</button>
    </form>

    <div class="errors">
      <% if @email_error %>
      <p>Sorry! Email already taken</p>
      <% end %>
    </div>
  </div>

  <div class="login-container">
    <h1 class="main-title">Login</h1>
    <p><%= @message %></p>

    <form action="/session" method="post" class="login-form">
      <div class="form-group">
        <label for="">Email</label>
        <input type="text" name="email" required>
      </div>

      <div class="form-group">
        <label for="">Password</label>
        <input type="password" name="password" required>
      </div>

      <button type="submit">Login</button>
    </form>
  </div>
</div>
<!-- end login-register -->
