<div class="">
   <form action="/food/<%= params[:storage_type] %>" method="post">
      <label for="add-food-item">Food Item</label>
      <input type="text" name="" value="">
      <label for="date-purchased">Date Purchased</label>
      <input type="date" name="" value="2017-10-01">
      <label for="expiry-date">Expiry Date</label>
      <input type="date" name="" value="">
      <label for="date-purchased">Notify me before Expiry!</label>
      <input type="date" name="" value="">
      <button type="submit">Add Food</button>
   </form>
</div>
